<div class="home-intro">
    <div class="jumbo">Focus on more important things. </div>
    <h5 class="meta-title">⸻ Instead of watching the market all the time.</h5>
    <div class="home-sub-text"> <h3>
        We have developed an algorithm that does this for you.<br/>
        Check out the <a href="{{'/notes' | relative_url}}"> demo</a>, <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>.
        </h3> 
    </div>
</div>
<div class="home-intro">
    <div class="jumbo">Exclusive buy and sell signals. </div>
    <h5 class="meta-title">⸻ Available for all leading Crypto exchanges.</h5>
    <div class="home-sub-text"> <h3>
        This bot is only designed for the technical analysis of Bitcoin market and uses various cooperated indicators.
        All trades are permanently monitored and checked by us. 
        </h3> 
    </div>
</div>
<div class="home-intro">
    <div class="jumbo">Automated crypto trading. </div>
    <h5 class="meta-title">⸻ Set it up and sit back.</h5>
    <div class="home-sub-text"> <h3>
        To ensure that our signals are automatically and reliably converted into orders, we work together with our partners:
        </h3> 
    </div>
    <div class="related-wrapper" style="align-items: center!important; justify-content: center!important;">
         <div style="display: block; padding: 1rem;">
                    <a href="/note/Welcome-to-the-garden">
                        <img src="{{ '/assets/img/bitget.svg' | relative_url }}"></a>
         </div>
         <div style="display: block; padding: 1rem;">
                    <a href="/note/Welcome-to-the-garden">
                        <img src="{{ '/assets/img/3commas.svg' | relative_url }}"></a>
         </div>
         <div style="display: block; padding: 1rem;">
                    <a href="/note/Welcome-to-the-garden">
                        <img src="{{ '/assets/img/cryptohopper.svg' | relative_url }}"></a>
         </div>
    </div>
        <div class="home-sub-text"> <h3>
        *Click on the item to read the documentation of this one.
        </h3> 
    </div>
</div>
<div class="home-intro">
    <div class="jumbo">Who we are. </div>
    <h5 class="meta-title">⸻ and what we do.</h5>
    <div class="home-sub-text"> <h3>
        We are a small dedicated team of traders and programmers who are constantly working on new strategies and their improvements.
        We have over 10 years of combined experience to draw on and are happy to help you with any support or questions you may have.<br />
        Visit our <a href="{{'/notes' | relative_url}}"> Discord</a> or write a <a href="{{'/notes' | relative_url}}"> mail</a>.
        </h3> 
    </div>
</div>
