<div class="home-intro">
    <div class="jumbo">Focus on more important things. </div>
    <h5 class="meta-title">⸻ Instead of watching the market all the time.</h5>
    <div class="home-sub-text"> <h3>
        I have developed an algorithm that does this for you.<br/>
        Check out the <a href="{{'/notes' | relative_url}}"> demo</a>, <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>.
        </h3> 
    </div>
</div>
<div class="home-wrapper">
    {%- include _snippets/Chart.html -%}
</div>
<div class="home-intro">
    <div class="home-sub-text"></div>
    <div class="jumbo">Exclusive buy and sell signals. </div>
    <h5 class="meta-title">⸻ Available for all leading Crypto exchanges.</h5>
    <div class="home-sub-text"> <h3>
        This bot is only designed for the technical analysis of Bitcoin market and uses various cooperated indicators.
        All trades are permanently monitored and checked by me. 
        </h3> 
    </div>
</div>
<div class="home-intro">
    <div class="jumbo">Automated crypto trading. </div>
    <h5 class="meta-title">⸻ Set it up and sit back.</h5>
    <div class="home-sub-text"> <h3>
        To ensure that my signals are automatically and reliably converted into orders, i work together with my partners:
        </h3> 
    </div>

    <div class="related-wrapper" style="grid-template-columns: repeat(1, 1fr);!important">
         <div class="notelist-feed" style="display: inherit; align-items: center;">
             <a href="/note/Cryptohopper-Setup">
                 {%- include _snippets/TradingView.html -%}
             </a>
         </div>
    </div>
    
    <div class="related-wrapper">
         <div class="notelist-feed" style="display: inherit; align-items: center;">
             <a href="/note/Bitget-Setup">
                 {%- include _snippets/Bitget.html -%}
             </a>
         </div>
         <div class="notelist-feed" style="display: inherit; align-items: center;">
             <a href="/note/3Commas-Setup">
                 {%- include _snippets/3Commas.html -%}
             </a>
         </div>
    </div>
    
    <div class="related-wrapper" style="grid-template-columns: repeat(1, 1fr);!important">
         <div class="notelist-feed" style="display: inherit; align-items: center;">
             <a href="/note/Cryptohopper-Setup">
                 {%- include _snippets/GoogleCloud.html -%}
             </a>
         </div>
    </div>

        <div class="home-sub-text"> <h3>
        Click on the corresponding item to read the associated <a href="{{'/notes' | relative_url}}"> documentation</a>.
        </h3> 
    </div>
</div>
<div class="home-intro">
    <div class="jumbo">Facts and figures. </div>
    <h5 class="meta-title">⸻ is it successful?</h5>
    <div class="home-sub-text"> <h3>
       There is no guarantee of success in the future and the bot also makes Non-profitable trades, 
       but the measured profit shows that it is very successful and losses are only marginal.
        </h3> 
    </div>
</div>
<div class="home-wrapper">
    {%- include _snippets/BacktestBTC.html -%}
</div>
<div class="home-intro">
    <div class="home-sub-text"></div>
    <div class="jumbo">Hi, I’m Kevinroku! 👋</div>
    <h5 class="meta-title">⸻ a hobbyist coder focused on crypto trading.</h5>
    <div class="home-sub-text"> <h3>
        I create tools and algorithms to enhance trading strategies and constantly experiment with new ideas.<br />
        Feel free to connect with me for any questions or support you may have 
        —join my <a href="https://discord.gg/GjGUHRzYvG"> Discord</a> or send me an <a href="mailto:info@finswap.io"> email</a>!
        </h3> 
    </div>
</div>
<div class="home-intro">
    <p id="copyright-notice">Disclaimer</p>
    <p id="copyright-notice">To have a solid trading experience, it is important to know the following. 
                             All information provided here does not constitute investment advice or a recommendation to buy. 
                             What you do with your investments is your responsibility. Educate yourself in advance on what cryptocurrencies are, 
                             how trading works, and how automated trading robots work. All content provided on our website, 
                             linked websites, social media accounts and other platforms is for your general information only. 
                             We make no warranties of any kind with respect to our content and services. 
                             Your use of our content and services is solely at your own risk and discretion. 
                             Trading is a high-risk activity that can result in large losses. No content on our website should be construed as solicitation. 
                             {{site.copyright.msg}} assumes no responsibility for results or consequences.</p>
</div>
